// ---------------------------------------------
// Parameters
// ---------------------------------------------

params {
// Input
samplesheet = 'samplesheet.csv'
fastq_dir = '/path/to/fastq_pass'

// Reference and threads
reference_genome = '/home/lab-user/reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
default_threads = 30

// Fastcat
fastcat_min_qscore = 10
fastcat_min_length = 200

// Pychopper


// Minimap2


// NanoPlot


// Output directory
params.outdir = 'results'
}

// ---------------------------------------------
// Executor
// ---------------------------------------------

process {executor = 'local'}

// to do --> docker exectuor set up
