// ---------------------------------------------
// Parameters
// ---------------------------------------------

params {
// Input
samplesheet = 'samplesheet.csv'
fastq_dir = '/path/to/fastq_pass'

// Reference and threads
reference_genome = '/home/lab-user/reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
annotation_file = '/home/lab-user/reference/Homo_sapiens.GRCh38.114.gtf'
default_threads = 30

// Fastcat
fastcat_min_qscore = 10
fastcat_min_length = 200

// NanoPlot

// Pychopper

// Minimap2

// Bambu
bambu_discovery = false
bambu_quant = true
bambu_low_memory = false
bambu_threads = 30

// Output directory
outdir = 'results'
}

// ---------------------------------------------
// Executor
// ---------------------------------------------

process {executor = 'local' 
    cpus = 30}

conda {
    enabled = true
}

// to do --> docker exectuor set up
